:root {
  --main-text-color: #22201B;
  --secondary-text-color: #11100D;
  --border-color: #DCD9D2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Serif Pro', serif;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.header {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6.6px;
}

.logo-td {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: black;
  letter-spacing: -2px;
}

.divider {
  height: 33px;
  border-left: 1.2px solid rgba(0, 0, 0, 0.77);
  margin: 0 10px;
}

.logo-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: black;
}

.landing-section {
  display: flex;
  height: 65vh;
  background-image: url('assets/hero-bg.svg');
  text-align: center;
}

.landing-section div {
  margin: auto;
  max-width: 900px;
}

.title {
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 0.25px;
}

.subtitle {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5%;
  padding: 20px 64px 0 64px;
}

.email-input {
  width: 400px;
  padding: 10px 16px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  color: #676050;
  font-family: 'Source Serif Pro';
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.50px;
}

.email-input.error {
    border-color: red;
}

.visualize-data-button {
  display: flex;
  margin: auto;
  align-items: center;
  padding: 14px 24px;
  background-color: #E0B571;
  border: none;
  color: #2E200A;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 0px 3px 5px rgba(16, 24, 40, 0.08);
  cursor: pointer;
  font-size: 16px;
  font-family: 'Source Serif Pro';
  line-height: 20px;
  letter-spacing: 0.50px;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
}

.visualize-data-button:hover {
  background-color: #b38646;
}

.statictics-section {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}

.stats-viz-container {
  position: relative;
}

.cursor-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  cursor: default;
  z-index: 10;
  background: transparent;
}

.deal-dashboard {
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

.statistics-icon {
  margin: 1.5rem 0;
}

.statictics-section h4 {
  margin-bottom: 1.25rem;
}

.statictics-section h4,
.deal-dashboard-section h4,
.city-deals-section h4 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.25px;
}

.statictics-section p,
.deal-dashboard-section p,
.city-deals-section p {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5%;
}

.statictics-section p {
  margin-bottom: 4rem;
}

.deal-dashboard-section p {
  margin: 1rem 0 4rem 0;
}

.deal-dashboard-section {
  margin: 8rem 0;
}

.city-deals-section {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.city-deals-section h4 {
  margin-bottom: 1.5rem;
}

.city-deals-section-map {
  min-width: 50%;
}

.city-deals-section-text {
  min-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cta-section {
  position: relative;
  border-radius: 8px;
  display: flex;
  background-color: #1C1C1C;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
  min-height: 432px;
  margin: 8.25rem 0;
  overflow: hidden;
}

.cta-section .left-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
}

.cta-section .right-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.cta-content {
  max-width: 650px;
  margin: auto;
}

.cta-content img {
  margin-bottom: 1rem;
}

.cta-content h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.cta-button {
  color: #fff;
  border: 1px solid;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #555;
}

.subscription-section {
  background-color: #F4F3F1;
  padding: 40px 20px;
  text-align: center;
}

.subscription-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: max-content;
    margin: 0 auto;
}

.error-container,
.success-container {
  text-align: center;
}

.error-container {
    width: 100%;
    text-align: left;
    margin-top: 4px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    display: none;
}

.success-message{
    color: green;
    display: none;
}

.subscribe-button {
  background-color: #E0B571;
  font-family: 'Source Serif Pro';
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  background-color: #b38646;
}

.social-icons {
  margin-top: 2.75rem
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.footer {
  display: flex;
  background-color: #F4F3F1;
  text-align: center;
  font-size: 0.9rem;
  border-top: 1px solid var(--border-color);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  max-width: 1440px;
  margin: auto;
  flex-grow: 1;
}

.logo-and-legal {
  display: flex;
  align-items: center;
}

.legal-text {
  font-size: 14px;
  padding-left: .5rem;
}

.footer-logo-text {
  font-weight: 700;
  font-family: 'Roboto Condensed';
  font-size: 1.5rem;
  letter-spacing: -2px;
  border-right: 1px solid var(--border-color);
  padding-right: .5rem;
}

.footer .powered-by {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.powered-by .valewood-logo {
  height: 40px;
}

.powered-by .arbisoft-logo {
  height: 20px;
}

@media screen and (max-width: 480px) {
  .cta-content p {
    font-size: 1rem;
  }

  .email-input {
    width: 100%;
    padding: 8px;
  }

  .subscribe-button {
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 34px;
  }

  .subtitle {
    padding: 20px;
  }

  .landing-section {
    text-align: center;
  }

  .visualize-data-button {
    margin-top: 10px;
  }

  .statictics-section h4,
  .deal-dashboard-section h4,
  .city-deals-section h4 {
    font-size: 32px;
  }


  .city-deals-section {
    flex-direction: column-reverse;
  }

  .cta-content {
    max-width: 350px;
  }

  .cta-content h3 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .cta-content p {
    font-size: 1.2rem;
  }

  .cta-section .right-icon {
    right: -40px;
  }

  .cta-section .left-icon {
    left: -30px;
  }

  .right-icon img,
  .left-icon img {
    width: 80px;
  }

  .email-input {
    width: 100%;
    margin-bottom: 1rem;
  }

  .subscription-section h2 {
    font-size: 1.5rem;
  }

  .subscription-form {
    flex-direction: column;
  }

  .footer-wrapper {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .logo-and-legal {
    justify-content: center;
    margin-bottom: 2rem;
  }

  .email-input {
    width: 100%;
  }

  .social-icons img {
    width: 20px;
    height: 20px;
  }

  .city-deals-section-text {
    margin-bottom: 2rem;
  }

  .city-deals-section-text h4 {
    margin-bottom: 1.2rem;

  }
}

@media (max-width: 1280px) {
  .statictics-section h4,
  .deal-dashboard-section h4,
  .city-deals-section h4 {
    padding: 0 20px;
  }

  .statictics-section p,
  .deal-dashboard-section p,
  .city-deals-section p {
    padding: 0 20px;
  }

  .deal-dashboard {
    margin: 0 20px;
  }

  .cta-section {
    margin-right: 1.25rem;
    margin-left: 1.25rem;
  }

  .footer-wrapper {
    padding: 20px;
  }
}

@media (max-width: 1440px) {
  .footer-wrapper {
    padding: 20px;
  }
}
